.list_products{
    clear: both;
}
.card {
    width: 17rem;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #cccccc;
    min-height: 250px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0px 3px 6px #cccccc;
}

.card .img {
    min-height: 147px;
    max-height: 150px;
    margin-bottom: 10px;
}

.icon {
    font-size: 20px;
    color: #fd0061;
}

.original-price {
    font-size: 1rem;
    color: #cccccc;
    text-decoration: line-through;
}

.name {
    color: #fd0061;
    cursor: pointer;
}

.name:hover {
    color: #686363;
    text-decoration: underline;
}

.h-gray{
    width: 35px;
    height: 35px;
}

.h-gray:hover {
    cursor: pointer;
    background-color: rgba(134,132,132, .2);
}